@model ProjetosEscola.Models.Orientacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Orientacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome do Projeto:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            Data Limite do Projeto:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLimite)
        </dd>
        <dt class = "col-sm-2">
            Aluno envolvido:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            Professor envolvido:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.NomeProfessor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar esta orientação?</a>
    <a asp-action="Index">Voltar à lista principal</a>
</div>
